body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

header <nav>
  <a href="#about">О себе</a>
  <a href="#skills">Навыки</a>
  <a href="#projects">Проекты</a>
  <a href="#contacts">Контакты</a>
</nav>{
    background: #444;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #333;
}.
avatar {
  width: 180px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
}
nav {
  text-align: center;
  background: #eee;
  padding: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #ff9900;
}
