body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

header {
    background: #444;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #333;
}.
avatar {
  width: 180px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
}
